---
import "../styles/global.css"
import Layout from "@/Layout/Layout.astro"
import Header from "@/components/Header"
import { Button } from "@/components/ui/button"
---

<Layout title="Juinor UI/UX Designer & Frontend Developer Portfolio">
    <Header client:load />
    <section class="mx-auto max-w-6xl px-4 pt-24 sm:pt-32 md:pt-40 lg:pt-48">
        <div class="text-center md:text-left">
            <div
                class="flex items-center justify-center md:justify-start gap-2 mb-2">
                <h6
                    class="font-extralight text-sm sm:text-base md:text-lg lg:text-xl">
                    Hi, there! I'm Jeremy
                </h6>
                <img
                    src="/waving-hand.svg"
                    class="w-4 h-4 sm:w-5 sm:h-5 md:w-6 md:h-6"
                    alt="waving hand icon"
                />
            </div>

            <h2
                class="font-bold text-2xl sm:text-3xl md:text-5xl lg:text-6xl mt-3 leading-tight">
                I'm a Junior UI/UX Designer <br />& Frontend Developer
            </h2>

            <h3
                class="text-base sm:text-lg md:text-xl mt-5 max-w-2xl mx-auto md:mx-0">
                I bridge design and development, turning user needs into clean,
                <br class="hidden sm:block" />
                interactive interfaces.
            </h3>

            <div
                class="mt-6 flex flex-col sm:flex-row gap-4 justify-center md:justify-start">
                <Button
                    variant="link"
                    type="button"
                    className="bg-primary text-white p-5 rounded-sm hover:no-underline focus:ring-0 focus:outline-none">
                    View My Work
                </Button>

                <Button
                    variant="outline"
                    type="button"
                    className="text-primary border-primary p-5 rounded-sm hover:text-primary focus:ring-0 focus:outline-none focus:border-0">
                    View My Resume
                </Button>
            </div>
        </div>
    </section>
    <section class="mx-auto max-w-6xl px-4 py-20 sm:py-28 md:py-36 lg:py-44">
        <div class="text-center mb-8 sm:mb-10">
            <h2
                class="font-bold font-mono inline-block border-b-2 border-black pb-2 text-2xl sm:text-3xl">
                About Me
            </h2>
        </div>
    </section>

    <section class="mx-auto max-w-6xl px-4 py-20 sm:py-28 md:py-36 lg:py-44">
        <div class="text-center mb-8 sm:mb-10">
            <h2
                class="font-bold font-mono inline-block border-b-2 border-black pb-2 text-2xl sm:text-3xl">
                Projects
            </h2>
        </div>
    </section>

    <section class="mx-auto max-w-6xl px-4 py-20 sm:py-28 md:py-36 lg:py-44">
        <div class="text-center mb-8 sm:mb-10">
            <h2
                class="font-bold font-mono inline-block border-b-2 border-black pb-2 text-2xl sm:text-3xl">
                Contacts
            </h2>
        </div>
    </section>
</Layout>
